[Desktop Entry]
Name=Add/Remove Software
Comment=Add or remove software installed on the system
Icon=system-software-install
Exec=pamac-manager %U
Terminal=false
Type=Application
Categories=GNOME;GTK;System;PackageManager;Settings;X-XFCE-SettingsDialog;X-XFCE-SystemSettings;
StartupNotify=true
MimeType=x-scheme-handler/appstream;x-scheme-handler/snap;
X-GNOME-UsesNotifications=true
StartupWMClass=pamac-manager
DBusActivatable=true
Actions=updates;

[Desktop Action updates]
Name=Software Update
Exec=pamac-manager --updates
